(edif (rename cb8ceb "CB8CEB")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2004 4 13 17 34 0)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.5, Build 222R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT4 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port I2 (direction INPUT))
           (port I3 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell LUT1 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell XORCY (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port LI (direction INPUT))
           (port CI (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell MUXCY_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell FDCE (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT))
           (port CE (direction INPUT))
         )
       )
    )
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
    (cell VCC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port P (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename cb8ceb "CB8CEB") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port (array (rename q "Q(7:0)") 8) (direction OUTPUT))
           (port CE (direction INPUT)
 )
           (port C (direction INPUT)
 )
           (port CLR (direction INPUT)
 )
           (port CEO (direction OUTPUT))
           (port TC (direction OUTPUT))
         )
         (contents
          (instance (rename Q_qxu_0_0 "Q_qxu_0[0]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_1 "Q_qxu_0[1]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_2 "Q_qxu_0[2]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_3 "Q_qxu_0[3]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_4 "Q_qxu_0[4]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_5 "Q_qxu_0[5]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_6 "Q_qxu_0[6]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename Q_qxu_0_7 "Q_qxu_0[7]") (viewRef PRIM (cellRef LUT1 (libraryRef VIRTEX)))
           (property init (string "2"))
          )
          (instance (rename QZ0Z_0 "Q[0]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_1 "Q[1]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_2 "Q[2]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_3 "Q[3]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_4 "Q[4]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_5 "Q[5]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_6 "Q[6]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename QZ0Z_7 "Q[7]") (viewRef PRIM (cellRef FDCE (libraryRef UNILIB)))
          )
          (instance (rename CEOZ0 "CEO") (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "8"))
          )
          (instance (rename TCZ0 "TC") (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "8000"))
          )
          (instance TC_3 (viewRef PRIM (cellRef LUT4 (libraryRef VIRTEX)))
           (property init (string "8000"))
          )
          (instance TC_0 (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "8"))
          )
          (instance (rename Q_s_7 "Q_s[7]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_s_6 "Q_s[6]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_6 "Q_cry[6]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_5 "Q_s[5]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_5 "Q_cry[5]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_4 "Q_s[4]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_4 "Q_cry[4]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_3 "Q_s[3]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_3 "Q_cry[3]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_2 "Q_s[2]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_2 "Q_cry[2]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_1 "Q_s[1]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_1 "Q_cry[1]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance (rename Q_s_0 "Q_s[0]") (viewRef PRIM (cellRef XORCY (libraryRef VIRTEX)))          )
          (instance (rename Q_cry_0 "Q_cry[0]") (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (instance VCC (viewRef PRIM (cellRef VCC (libraryRef UNILIB)))          )
          (net (rename ce "CE") (joined
           (portRef CE)
           (portRef I0 (instanceRef CEOZ0))
           (portRef CE (instanceRef QZ0Z_7))
           (portRef CE (instanceRef QZ0Z_6))
           (portRef CE (instanceRef QZ0Z_5))
           (portRef CE (instanceRef QZ0Z_4))
           (portRef CE (instanceRef QZ0Z_3))
           (portRef CE (instanceRef QZ0Z_2))
           (portRef CE (instanceRef QZ0Z_1))
           (portRef CE (instanceRef QZ0Z_0))
          ))
          (net (rename c "C") (joined
           (portRef C)
           (portRef C (instanceRef QZ0Z_7))
           (portRef C (instanceRef QZ0Z_6))
           (portRef C (instanceRef QZ0Z_5))
           (portRef C (instanceRef QZ0Z_4))
           (portRef C (instanceRef QZ0Z_3))
           (portRef C (instanceRef QZ0Z_2))
           (portRef C (instanceRef QZ0Z_1))
           (portRef C (instanceRef QZ0Z_0))
          ))
          (net (rename clr "CLR") (joined
           (portRef CLR)
           (portRef CLR (instanceRef QZ0Z_7))
           (portRef CLR (instanceRef QZ0Z_6))
           (portRef CLR (instanceRef QZ0Z_5))
           (portRef CLR (instanceRef QZ0Z_4))
           (portRef CLR (instanceRef QZ0Z_3))
           (portRef CLR (instanceRef QZ0Z_2))
           (portRef CLR (instanceRef QZ0Z_1))
           (portRef CLR (instanceRef QZ0Z_0))
          ))
          (net (rename q_0 "Q(0)") (joined
           (portRef Q (instanceRef QZ0Z_0))
           (portRef I0 (instanceRef TCZ0))
           (portRef I0 (instanceRef Q_qxu_0_0))
           (portRef (member q 7))
          ))
          (net (rename q_1 "Q(1)") (joined
           (portRef Q (instanceRef QZ0Z_1))
           (portRef I1 (instanceRef TCZ0))
           (portRef I0 (instanceRef Q_qxu_0_1))
           (portRef (member q 6))
          ))
          (net (rename q_2 "Q(2)") (joined
           (portRef Q (instanceRef QZ0Z_2))
           (portRef I2 (instanceRef TCZ0))
           (portRef I0 (instanceRef Q_qxu_0_2))
           (portRef (member q 5))
          ))
          (net (rename q_3 "Q(3)") (joined
           (portRef Q (instanceRef QZ0Z_3))
           (portRef I0 (instanceRef TC_3))
           (portRef I0 (instanceRef Q_qxu_0_3))
           (portRef (member q 4))
          ))
          (net (rename q_4 "Q(4)") (joined
           (portRef Q (instanceRef QZ0Z_4))
           (portRef I1 (instanceRef TC_3))
           (portRef I0 (instanceRef Q_qxu_0_4))
           (portRef (member q 3))
          ))
          (net (rename q_5 "Q(5)") (joined
           (portRef Q (instanceRef QZ0Z_5))
           (portRef I2 (instanceRef TC_3))
           (portRef I0 (instanceRef Q_qxu_0_5))
           (portRef (member q 2))
          ))
          (net (rename q_6 "Q(6)") (joined
           (portRef Q (instanceRef QZ0Z_6))
           (portRef I0 (instanceRef TC_0))
           (portRef I0 (instanceRef Q_qxu_0_6))
           (portRef (member q 1))
          ))
          (net (rename q_7 "Q(7)") (joined
           (portRef Q (instanceRef QZ0Z_7))
           (portRef I1 (instanceRef TC_0))
           (portRef I0 (instanceRef Q_qxu_0_7))
           (portRef (member q 0))
          ))
          (net (rename ceo "CEO") (joined
           (portRef O (instanceRef CEOZ0))
           (portRef CEO)
          ))
          (net (rename tc "TC") (joined
           (portRef O (instanceRef TCZ0))
           (portRef I1 (instanceRef CEOZ0))
           (portRef TC)
          ))
          (net (rename VCCZ0 "VCC") (joined
           (portRef P (instanceRef VCC))
           (portRef CI (instanceRef Q_cry_0))
           (portRef CI (instanceRef Q_s_0))
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef DI (instanceRef Q_cry_0))
           (portRef DI (instanceRef Q_cry_1))
           (portRef DI (instanceRef Q_cry_2))
           (portRef DI (instanceRef Q_cry_3))
           (portRef DI (instanceRef Q_cry_4))
           (portRef DI (instanceRef Q_cry_5))
           (portRef DI (instanceRef Q_cry_6))
          ))
          (net (rename Q_qxu_0 "Q_qxu(0)") (joined
           (portRef O (instanceRef Q_qxu_0_0))
           (portRef S (instanceRef Q_cry_0))
           (portRef LI (instanceRef Q_s_0))
          ))
          (net (rename Q_qxu_1 "Q_qxu(1)") (joined
           (portRef O (instanceRef Q_qxu_0_1))
           (portRef S (instanceRef Q_cry_1))
           (portRef LI (instanceRef Q_s_1))
          ))
          (net (rename Q_qxu_2 "Q_qxu(2)") (joined
           (portRef O (instanceRef Q_qxu_0_2))
           (portRef S (instanceRef Q_cry_2))
           (portRef LI (instanceRef Q_s_2))
          ))
          (net (rename Q_qxu_3 "Q_qxu(3)") (joined
           (portRef O (instanceRef Q_qxu_0_3))
           (portRef S (instanceRef Q_cry_3))
           (portRef LI (instanceRef Q_s_3))
          ))
          (net (rename Q_qxu_4 "Q_qxu(4)") (joined
           (portRef O (instanceRef Q_qxu_0_4))
           (portRef S (instanceRef Q_cry_4))
           (portRef LI (instanceRef Q_s_4))
          ))
          (net (rename Q_qxu_5 "Q_qxu(5)") (joined
           (portRef O (instanceRef Q_qxu_0_5))
           (portRef S (instanceRef Q_cry_5))
           (portRef LI (instanceRef Q_s_5))
          ))
          (net (rename Q_qxu_6 "Q_qxu(6)") (joined
           (portRef O (instanceRef Q_qxu_0_6))
           (portRef S (instanceRef Q_cry_6))
           (portRef LI (instanceRef Q_s_6))
          ))
          (net (rename Q_qxu_7 "Q_qxu(7)") (joined
           (portRef O (instanceRef Q_qxu_0_7))
           (portRef LI (instanceRef Q_s_7))
          ))
          (net (rename Q_sZ0Z_0 "Q_s(0)") (joined
           (portRef O (instanceRef Q_s_0))
           (portRef D (instanceRef QZ0Z_0))
          ))
          (net (rename Q_sZ0Z_1 "Q_s(1)") (joined
           (portRef O (instanceRef Q_s_1))
           (portRef D (instanceRef QZ0Z_1))
          ))
          (net (rename Q_sZ0Z_2 "Q_s(2)") (joined
           (portRef O (instanceRef Q_s_2))
           (portRef D (instanceRef QZ0Z_2))
          ))
          (net (rename Q_sZ0Z_3 "Q_s(3)") (joined
           (portRef O (instanceRef Q_s_3))
           (portRef D (instanceRef QZ0Z_3))
          ))
          (net (rename Q_sZ0Z_4 "Q_s(4)") (joined
           (portRef O (instanceRef Q_s_4))
           (portRef D (instanceRef QZ0Z_4))
          ))
          (net (rename Q_sZ0Z_5 "Q_s(5)") (joined
           (portRef O (instanceRef Q_s_5))
           (portRef D (instanceRef QZ0Z_5))
          ))
          (net (rename Q_sZ0Z_6 "Q_s(6)") (joined
           (portRef O (instanceRef Q_s_6))
           (portRef D (instanceRef QZ0Z_6))
          ))
          (net (rename Q_sZ0Z_7 "Q_s(7)") (joined
           (portRef O (instanceRef Q_s_7))
           (portRef D (instanceRef QZ0Z_7))
          ))
          (net (rename TCZ0Z_3 "TC_3") (joined
           (portRef O (instanceRef TC_3))
           (portRef I3 (instanceRef TCZ0))
          ))
          (net (rename TCZ0Z_0 "TC_0") (joined
           (portRef O (instanceRef TC_0))
           (portRef I3 (instanceRef TC_3))
          ))
          (net (rename Q_cryZ0Z_6 "Q_cry(6)") (joined
           (portRef LO (instanceRef Q_cry_6))
           (portRef CI (instanceRef Q_s_7))
          ))
          (net (rename Q_cryZ0Z_5 "Q_cry(5)") (joined
           (portRef LO (instanceRef Q_cry_5))
           (portRef CI (instanceRef Q_cry_6))
           (portRef CI (instanceRef Q_s_6))
          ))
          (net (rename Q_cryZ0Z_4 "Q_cry(4)") (joined
           (portRef LO (instanceRef Q_cry_4))
           (portRef CI (instanceRef Q_cry_5))
           (portRef CI (instanceRef Q_s_5))
          ))
          (net (rename Q_cryZ0Z_3 "Q_cry(3)") (joined
           (portRef LO (instanceRef Q_cry_3))
           (portRef CI (instanceRef Q_cry_4))
           (portRef CI (instanceRef Q_s_4))
          ))
          (net (rename Q_cryZ0Z_2 "Q_cry(2)") (joined
           (portRef LO (instanceRef Q_cry_2))
           (portRef CI (instanceRef Q_cry_3))
           (portRef CI (instanceRef Q_s_3))
          ))
          (net (rename Q_cryZ0Z_1 "Q_cry(1)") (joined
           (portRef LO (instanceRef Q_cry_1))
           (portRef CI (instanceRef Q_cry_2))
           (portRef CI (instanceRef Q_s_2))
          ))
          (net (rename Q_cryZ0Z_0 "Q_cry(0)") (joined
           (portRef LO (instanceRef Q_cry_0))
           (portRef CI (instanceRef Q_cry_1))
           (portRef CI (instanceRef Q_s_1))
          ))
         )
       )
    )
  )
  (design (rename cb8ceb "CB8CEB") (cellRef cb8ceb (libraryRef work))
	(property PART (string "xc3s400pq208-4") (owner "Xilinx")))
)
