(edif (rename compm8b "COMPM8B")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2004 4 13 17 48 44)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.5, Build 222R"))
     )
   )
  (library VIRTEX
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LUT2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell MUXCY_L (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port LO (direction OUTPUT))
         )
       )
    )
    (cell MUXCY (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port DI (direction INPUT))
           (port CI (direction INPUT))
           (port S (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell GND (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port G (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename compm8b "COMPM8B") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port (array (rename a "A(7:0)") 8) (direction INPUT))
           (port (array (rename b "B(7:0)") 8) (direction INPUT))
           (port GT (direction OUTPUT))
           (port LT (direction OUTPUT))
         )
         (contents
          (instance a_axb_0_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_1_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_2_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_3_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_4_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_5_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_6_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance a_axb_7_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_0_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_1_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_2_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_3_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_4_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_5_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_6_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_axb_7_i (viewRef PRIM (cellRef LUT2 (libraryRef VIRTEX)))
           (property init (string "9"))
          )
          (instance gt4_cry_7 (viewRef PRIM (cellRef MUXCY (libraryRef VIRTEX)))          )
          (instance gt4_cry_6 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_5 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_4 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_3 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_2 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_1 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance gt4_cry_0 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_7 (viewRef PRIM (cellRef MUXCY (libraryRef VIRTEX)))          )
          (instance a_cry_6 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_5 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_4 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_3 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_2 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_1 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance a_cry_0 (viewRef PRIM (cellRef MUXCY_L (libraryRef VIRTEX)))          )
          (instance GND (viewRef PRIM (cellRef GND (libraryRef UNILIB)))          )
          (net (rename a_0 "A(0)") (joined
           (portRef (member a 7))
           (portRef DI (instanceRef gt4_cry_0))
           (portRef I0 (instanceRef gt4_axb_0_i))
           (portRef I0 (instanceRef a_axb_0_i))
          ))
          (net (rename a_1 "A(1)") (joined
           (portRef (member a 6))
           (portRef DI (instanceRef gt4_cry_1))
           (portRef I0 (instanceRef gt4_axb_1_i))
           (portRef I0 (instanceRef a_axb_1_i))
          ))
          (net (rename a_2 "A(2)") (joined
           (portRef (member a 5))
           (portRef DI (instanceRef gt4_cry_2))
           (portRef I0 (instanceRef gt4_axb_2_i))
           (portRef I0 (instanceRef a_axb_2_i))
          ))
          (net (rename a_3 "A(3)") (joined
           (portRef (member a 4))
           (portRef DI (instanceRef gt4_cry_3))
           (portRef I0 (instanceRef gt4_axb_3_i))
           (portRef I0 (instanceRef a_axb_3_i))
          ))
          (net (rename a_4 "A(4)") (joined
           (portRef (member a 3))
           (portRef DI (instanceRef gt4_cry_4))
           (portRef I0 (instanceRef gt4_axb_4_i))
           (portRef I0 (instanceRef a_axb_4_i))
          ))
          (net (rename a_5 "A(5)") (joined
           (portRef (member a 2))
           (portRef DI (instanceRef gt4_cry_5))
           (portRef I0 (instanceRef gt4_axb_5_i))
           (portRef I0 (instanceRef a_axb_5_i))
          ))
          (net (rename a_6 "A(6)") (joined
           (portRef (member a 1))
           (portRef DI (instanceRef gt4_cry_6))
           (portRef I0 (instanceRef gt4_axb_6_i))
           (portRef I0 (instanceRef a_axb_6_i))
          ))
          (net (rename a_7 "A(7)") (joined
           (portRef (member a 0))
           (portRef DI (instanceRef gt4_cry_7))
           (portRef I0 (instanceRef gt4_axb_7_i))
           (portRef I0 (instanceRef a_axb_7_i))
          ))
          (net (rename b_0 "B(0)") (joined
           (portRef (member b 7))
           (portRef DI (instanceRef a_cry_0))
           (portRef I1 (instanceRef gt4_axb_0_i))
           (portRef I1 (instanceRef a_axb_0_i))
          ))
          (net (rename b_1 "B(1)") (joined
           (portRef (member b 6))
           (portRef DI (instanceRef a_cry_1))
           (portRef I1 (instanceRef gt4_axb_1_i))
           (portRef I1 (instanceRef a_axb_1_i))
          ))
          (net (rename b_2 "B(2)") (joined
           (portRef (member b 5))
           (portRef DI (instanceRef a_cry_2))
           (portRef I1 (instanceRef gt4_axb_2_i))
           (portRef I1 (instanceRef a_axb_2_i))
          ))
          (net (rename b_3 "B(3)") (joined
           (portRef (member b 4))
           (portRef DI (instanceRef a_cry_3))
           (portRef I1 (instanceRef gt4_axb_3_i))
           (portRef I1 (instanceRef a_axb_3_i))
          ))
          (net (rename b_4 "B(4)") (joined
           (portRef (member b 3))
           (portRef DI (instanceRef a_cry_4))
           (portRef I1 (instanceRef gt4_axb_4_i))
           (portRef I1 (instanceRef a_axb_4_i))
          ))
          (net (rename b_5 "B(5)") (joined
           (portRef (member b 2))
           (portRef DI (instanceRef a_cry_5))
           (portRef I1 (instanceRef gt4_axb_5_i))
           (portRef I1 (instanceRef a_axb_5_i))
          ))
          (net (rename b_6 "B(6)") (joined
           (portRef (member b 1))
           (portRef DI (instanceRef a_cry_6))
           (portRef I1 (instanceRef gt4_axb_6_i))
           (portRef I1 (instanceRef a_axb_6_i))
          ))
          (net (rename b_7 "B(7)") (joined
           (portRef (member b 0))
           (portRef DI (instanceRef a_cry_7))
           (portRef I1 (instanceRef gt4_axb_7_i))
           (portRef I1 (instanceRef a_axb_7_i))
          ))
          (net (rename gt "GT") (joined
           (portRef O (instanceRef gt4_cry_7))
           (portRef GT)
          ))
          (net (rename lt "LT") (joined
           (portRef O (instanceRef a_cry_7))
           (portRef LT)
          ))
          (net (rename GNDZ0 "GND") (joined
           (portRef G (instanceRef GND))
           (portRef CI (instanceRef a_cry_0))
           (portRef CI (instanceRef gt4_cry_0))
          ))
          (net (rename a_axb_0_iZ0 "a_axb_0_i") (joined
           (portRef O (instanceRef a_axb_0_i))
           (portRef S (instanceRef a_cry_0))
          ))
          (net (rename a_axb_1_iZ0 "a_axb_1_i") (joined
           (portRef O (instanceRef a_axb_1_i))
           (portRef S (instanceRef a_cry_1))
          ))
          (net (rename a_axb_2_iZ0 "a_axb_2_i") (joined
           (portRef O (instanceRef a_axb_2_i))
           (portRef S (instanceRef a_cry_2))
          ))
          (net (rename a_axb_3_iZ0 "a_axb_3_i") (joined
           (portRef O (instanceRef a_axb_3_i))
           (portRef S (instanceRef a_cry_3))
          ))
          (net (rename a_axb_4_iZ0 "a_axb_4_i") (joined
           (portRef O (instanceRef a_axb_4_i))
           (portRef S (instanceRef a_cry_4))
          ))
          (net (rename a_axb_5_iZ0 "a_axb_5_i") (joined
           (portRef O (instanceRef a_axb_5_i))
           (portRef S (instanceRef a_cry_5))
          ))
          (net (rename a_axb_6_iZ0 "a_axb_6_i") (joined
           (portRef O (instanceRef a_axb_6_i))
           (portRef S (instanceRef a_cry_6))
          ))
          (net (rename a_axb_7_iZ0 "a_axb_7_i") (joined
           (portRef O (instanceRef a_axb_7_i))
           (portRef S (instanceRef a_cry_7))
          ))
          (net (rename gt4_axb_0_iZ0 "gt4_axb_0_i") (joined
           (portRef O (instanceRef gt4_axb_0_i))
           (portRef S (instanceRef gt4_cry_0))
          ))
          (net (rename gt4_axb_1_iZ0 "gt4_axb_1_i") (joined
           (portRef O (instanceRef gt4_axb_1_i))
           (portRef S (instanceRef gt4_cry_1))
          ))
          (net (rename gt4_axb_2_iZ0 "gt4_axb_2_i") (joined
           (portRef O (instanceRef gt4_axb_2_i))
           (portRef S (instanceRef gt4_cry_2))
          ))
          (net (rename gt4_axb_3_iZ0 "gt4_axb_3_i") (joined
           (portRef O (instanceRef gt4_axb_3_i))
           (portRef S (instanceRef gt4_cry_3))
          ))
          (net (rename gt4_axb_4_iZ0 "gt4_axb_4_i") (joined
           (portRef O (instanceRef gt4_axb_4_i))
           (portRef S (instanceRef gt4_cry_4))
          ))
          (net (rename gt4_axb_5_iZ0 "gt4_axb_5_i") (joined
           (portRef O (instanceRef gt4_axb_5_i))
           (portRef S (instanceRef gt4_cry_5))
          ))
          (net (rename gt4_axb_6_iZ0 "gt4_axb_6_i") (joined
           (portRef O (instanceRef gt4_axb_6_i))
           (portRef S (instanceRef gt4_cry_6))
          ))
          (net (rename gt4_axb_7_iZ0 "gt4_axb_7_i") (joined
           (portRef O (instanceRef gt4_axb_7_i))
           (portRef S (instanceRef gt4_cry_7))
          ))
          (net (rename gt4_cryZ0Z_6 "gt4_cry_6") (joined
           (portRef LO (instanceRef gt4_cry_6))
           (portRef CI (instanceRef gt4_cry_7))
          ))
          (net (rename gt4_cryZ0Z_5 "gt4_cry_5") (joined
           (portRef LO (instanceRef gt4_cry_5))
           (portRef CI (instanceRef gt4_cry_6))
          ))
          (net (rename gt4_cryZ0Z_4 "gt4_cry_4") (joined
           (portRef LO (instanceRef gt4_cry_4))
           (portRef CI (instanceRef gt4_cry_5))
          ))
          (net (rename gt4_cryZ0Z_3 "gt4_cry_3") (joined
           (portRef LO (instanceRef gt4_cry_3))
           (portRef CI (instanceRef gt4_cry_4))
          ))
          (net (rename gt4_cryZ0Z_2 "gt4_cry_2") (joined
           (portRef LO (instanceRef gt4_cry_2))
           (portRef CI (instanceRef gt4_cry_3))
          ))
          (net (rename gt4_cryZ0Z_1 "gt4_cry_1") (joined
           (portRef LO (instanceRef gt4_cry_1))
           (portRef CI (instanceRef gt4_cry_2))
          ))
          (net (rename gt4_cryZ0Z_0 "gt4_cry_0") (joined
           (portRef LO (instanceRef gt4_cry_0))
           (portRef CI (instanceRef gt4_cry_1))
          ))
          (net (rename a_cryZ0Z_6 "a_cry_6") (joined
           (portRef LO (instanceRef a_cry_6))
           (portRef CI (instanceRef a_cry_7))
          ))
          (net (rename a_cryZ0Z_5 "a_cry_5") (joined
           (portRef LO (instanceRef a_cry_5))
           (portRef CI (instanceRef a_cry_6))
          ))
          (net (rename a_cryZ0Z_4 "a_cry_4") (joined
           (portRef LO (instanceRef a_cry_4))
           (portRef CI (instanceRef a_cry_5))
          ))
          (net (rename a_cryZ0Z_3 "a_cry_3") (joined
           (portRef LO (instanceRef a_cry_3))
           (portRef CI (instanceRef a_cry_4))
          ))
          (net (rename a_cryZ0Z_2 "a_cry_2") (joined
           (portRef LO (instanceRef a_cry_2))
           (portRef CI (instanceRef a_cry_3))
          ))
          (net (rename a_cryZ0Z_1 "a_cry_1") (joined
           (portRef LO (instanceRef a_cry_1))
           (portRef CI (instanceRef a_cry_2))
          ))
          (net (rename a_cryZ0Z_0 "a_cry_0") (joined
           (portRef LO (instanceRef a_cry_0))
           (portRef CI (instanceRef a_cry_1))
          ))
         )
       )
    )
  )
  (design (rename compm8b "COMPM8B") (cellRef compm8b (libraryRef work))
	(property PART (string "xc3s400pq208-4") (owner "Xilinx")))
)
